{{!-- Sample layout dashboard --}}
<div class="card">
    <div class="card-header">
        {{!-- // CREDIT: Worked on this part with the help of coder colleague Brams Lo --}}
        <h4><a class="link" href="/dashboard/edit/{{id}}">{{title}}</a></h4>
    </div>
</div>